@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --green: hsl(162, 40%, 25%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--Light-Grayish-Blue);
  font-family: "Manrope", sans-serif;
}

main {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

.img {
  background-image: url(./images/drawers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 14rem;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

h1 {
  margin-bottom: 0;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  line-height: 1.5rem;
  color: var(--Very-Dark-Grayish-Blue);
}

.description {
  padding: 0 2.5rem;
  margin: 0 0 0.5rem;
  font-size: 0.83rem;
  line-height: 1.3rem;
  color: var(--Desaturated-Dark-Blue);
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.userpic {
  background-image: url(./images/avatar-michelle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.userinfo {
  text-align: left;
}

.userinfo p {
  margin: 0;
  font-size: 0.8rem;
}

.username {
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
}

.birthdate {
  color: var(--Grayish-Blue);
}

.share {
  background-color: var(--Light-Grayish-Blue);
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closed {
  display: none;
}

.clicked {
  background-color: var(--Desaturated-Dark-Blue);
}

.changed {
  filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(2%)
    hue-rotate(323deg) brightness(102%) contrast(101%);
}

.tooltip-text {
  color: var(--Grayish-Blue);
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltip-elements {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 3rem;
}

.social-icon {
  cursor: pointer;
}

.tooltip-closed {
  display: none;
}

.tooltip-open {
  margin-top: 0.5rem;
  min-height: 4rem;
  width: 100%;
  background-color: var(--Very-Dark-Grayish-Blue);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

footer {
  color: var(--Very-Dark-Grayish-Blue);
  min-height: 5vh;
  font-size: 0.8rem;
  text-align: center;
}

footer a {
  color: var(--green);
}

@media (min-width: 550px) {
  h1 {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .card {
    flex-direction: row;
    max-width: 45rem;
    min-height: 18rem;
    margin: 0 5rem;
  }

  .img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }

  .user {
    margin-left: 1.5rem;
  }

  .userpic {
    margin: 0;
  }

  .closed {
    display: flex;
  }

  .tooltip-elements {
    background-color: var(--Very-Dark-Grayish-Blue);
    position: absolute;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    transform: translateX(-10rem);
    top: 57%;
  }

  .tooltip-elements::after {
    height: 1rem;
    width: 1rem;
    content: "";
    position: absolute;
    transform: translateX(5rem);
    top: 2.8rem;
    border-width: 1rem;
    border-style: solid;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent
      transparent;
  }

  .tooltip-open {
    background-color: white;
    max-width: 5rem;
  }
}

@media (min-width: 576px) {
  .tooltip-elements {
    top: 55%;
  }
}

@media (min-width: 657px) {
  .tooltip-elements {
    top: 50%;
  }
}

@media (min-width: 867px) {
  .tooltip-elements {
    top: 48%;
  }
}
